html {
  background-color: #f2f2f2;
  margin-top: 195px;
  font-family: 'Helvetica Neue';
}
.header {
  width: 100%;
  padding: 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-entry {
  display: inline-block;
  float: left;
  background-color: #fff;
  margin: 15px 15px;
  padding: 10px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  border-radius: 10px;
  min-height: 150px;
}
.img-entry img {
  border-radius: 5px;
  overflow: hidden;
}
.img-entry .delete-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #f44336;
  color: white;
  width: 30px;
  height: 30px;
  border: 0px;
  border-radius: 15px;
  background-image: url('delete.svg');
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.img-entry .download-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #4CAF50;
  color: white;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 60px;
  border: 0px;
  border-radius: 30px;
  background-image: url('download.svg');
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.img-entry .download-btn a {
  width: 100%;
  height: 100%;
  display: block;
}
.img-entry .delete-btn:hover {
  background-color: #d42316
}
.img-entry .download-btn:hover {
  background-color: #388E3C
}
.img-entry:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translateY(-5px);
}
.img-entry:hover .delete-btn {
  opacity: 1;
}
.img-entry:hover .download-btn {
  opacity: 1;
}
